<h1>Products</h1>
<%= link_to "Add a new product", new_product_path %>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to "#{product.name}", product_path(product.id) %> | <%= product.price %> cents | <%= product.description %></li>
  <% end %>
</ul>
